@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');
:root {
    height:100%;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
    color: rgb(0, 0, 0);
    font-size: 26px;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.main {
    text-align: left;
}

.hero-h1 {
    text-align:right;
    color: rgb(0, 0, 0);
    font-family: 'EB Garamond', serif;

}

#navbar {
    overflow:hidden;
    background-color: #333;
    display: flex;
    justify-content: flex-end;
    max-width: 1920px;
    padding: 0.5rem 1rem;
    position:fixed;
    z-index: 999;
    background-image: url(https://cdn180.picsart.com/232473572004212.png?r1024x1024);
}
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 5px;
    text-decoration: none;
  }

  .content {
    padding: 16px;
  }

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: hsl(0, 0%, 0%);
}

nav a:hover {
    color: red;
}

.container {
    display: flex;  
    flex-wrap: wrap;
    max-width: 1920px;
    justify-content: center;
    align-content: space-around;
}

.container-second {
    display: flex;
    max-width: 1440px;
    max-height: 50px;
    margin: auto;
    justify-content: flex-start;
    align-content: space-around;
}

.container-third {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    max-height: 980px;
    margin: auto;
    justify-content: space-between;
    align-content: space-around;
}

.h1 {
    text-align: center;
    background-color: cadetblue;
    font-family: 'EB Garamond', serif;


}

.parent {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-wrap: nowrap;
    align-content: center;
  }

.child {
    width: 40%;
    height: 40%;
    background-color: skyblue;
    }

.hero-text {
    max-width: 300px;
    flex: 1;
    padding-right: 15px;
    padding-left: 15px;
}

.hero-text-bigger {
    max-width: 300px;
    flex: 1;
    font-size: 24px;
    color:rgba(0, 0, 0) ;
    
}

.hero-text-even-bigger {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    font-size: 24px;
    color:rgb(255, 255, 255) ;
}


.hero {
    font-size: 22px;
    padding: 5rem 0;
}

header {
    background-image: url("https://www.clashmusic.com/sites/default/files/field/image/107_Single%20OnlineImage78.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: 720px;
   }


#logo {
    margin-top: 200px;
	width: 100%;
	height: 100%;
}

iframe {
    padding-bottom: 20px;
}

article {
    font-size: 26px;
    height: auto;
}

aside {
    font-size: 26px;
    height: 980px;
    background-image: url(https://s.getshow.ru/image/x650/9/5/52-2792.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

footer {
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70px;
    text-align: center;
    color: white;
}

body {
    text-emphasis: none;
    background: url(https://i2.wp.com/life.hooliganhamlet.com/wp-content/uploads/2017/10/tommy-cash-02.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
}


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
    height: 0;
    min-width: 400px;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}